<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" data-ng-app="forgetlessApp"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" data-ng-app="forgetlessApp"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" data-ng-app="forgetlessApp"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" data-ng-app="forgetlessApp"> <!--<![endif]-->
    <head>

        <!-- Basic Page Needs
      ================================================== -->
        <meta charset="utf-8">
        <title>Forgetless</title>

        <!-- TODO populate... -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
      ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <!-- CSS
      ================================================== -->
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/base.css">
        <link rel="stylesheet" href="/stylesheets/greleton.css">
        <link rel="stylesheet" href="/stylesheets/forgetless-layout.css">
        <link rel="stylesheet" href="/stylesheets/simple.calender.widget.css">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/angular-ui-router.min.js"></script>
        <script src="/javascripts/forgetless.js"></script>
        <script src="/javascripts/controllers.js"></script>
        <script src="/javascripts/directives.js"></script>
        <script src="/javascripts/simple.calender.widget.js"></script>

    </head>

    <body>

        <header>

            <div class="sixteen columns fluid" id="header-outer-container">

                <div class="container fluid">

                    <div class="sixteen columns fluid" id="header-container">

                        <div class="menu-button">
                            &nbsp;
                        </div>

                        <span>
                            testing...
                        </span>

                    </div>

                </div>

            </div>

        </header>

        <content>

            <div class="container fluid"
                 id="content-viewpoint"
                 data-ng-controller="ContentViewPointController"
                 data-ui-view data-sync-height>
            </div>

        </content>

    </body>

</html>