<!--<div class="content-item" data-ng-click="selectItem(item.id)">-->
<div class="content-item item-content-item">

    <div class="title-container" data-ng-style="titleContainerStyleParam">
        {{item.title}}
    </div>

    <div class="options-container" data-ng-class="optionsContainerClassParam">

        <div class="button show-options-button">
            &nbsp;
        </div>

        <div class="main options-group" data-ng-class="mainOptionClassParam">
            <div class="edit-icon button">
                &nbsp;
            </div>
            <div class="delete-icon button">
                &nbsp;
            </div>
        </div>

        <div class="confirm" data-ng-class="confirmOptionClassParam">
            <div class="confirm-yes-icon button">
                &nbsp;
            </div>
            <div class="confirm-no-icon button">
                &nbsp;
            </div>
        </div>

        <div class="delete-confirm" data-ng-class="deleteOptionClassParam">
            <div class="delete-yes-icon button">
                &nbsp;
            </div>
            <div class="delete-no-icon button">
                &nbsp;
            </div>
        </div>

    </div>

</div>

<div class="item-detail" data-ng-show="item.selected">
    <div class="input-container">
        <span class="input-label">
            Title:
        </span>
        <input data-ng-model="item.title" class="title-input">
    </div>

    <div class="input-container">
        <span class="input-label">
            Content:
        </span>
        <textarea data-ng-model="item.content" class="content-input"></textarea>
    </div>

    <div class="save-confirm-container">

        <div class="item-save-icon" data-ng-class="saveButtonClassParam">
            Save?
        </div>

        <div class="item-save-no-icon" data-ng-class="saveNoButtonClassParam">
            &nbsp;
        </div>

        <div class="item-save-yes-icon" data-ng-class="saveYesButtonClassParam">
            &nbsp;
        </div>

    </div>

</div>