<div class="content-item list-content-item"
     data-ng-class="{selected: list.selected}">

    <div class="title-container" data-ng-style="titleContainerStyleParam">
        {{list.title}}
    </div>

    <div class="options-container" data-ng-class="optionsContainerClassParam">

        <div class="button show-options-button">
            &nbsp;
        </div>

        <div class="main options-group" data-ng-class="mainOptionClassParam">
            <div class="edit-icon button">
                &nbsp;
            </div>
            <div class="delete-icon button">
                &nbsp;
            </div>
        </div>

        <div class="confirm" data-ng-class="confirmOptionClassParam">
            <div class="confirm-yes-icon button">
                &nbsp;
            </div>
            <div class="confirm-no-icon button">
                &nbsp;
            </div>
        </div>

        <div class="delete-confirm" data-ng-class="deleteOptionClassParam">
            <div class="delete-yes-icon button">
                &nbsp;
            </div>
            <div class="delete-no-icon button">
                &nbsp;
            </div>
        </div>

    </div>

</div>
<div class="items-container" data-ng-show="list.selected" data-handle-items data-ng-if="list.selected">

    <div class="item-container" data-ng-repeat="item in list.items" data-handle-item>
    </div>

</div>