<div class="{{stepClass}}" id="content-container" data-sync-height data-sync-pane-width data-ng-controller="ContentController">

    <div class="content-pane" data-ng-controller="CategoryController">

        <div class="content-item"
             data-ng-repeat="category in categories"
             data-ng-click="nextStep(1)"
             data-ui-sref="app.category({ categoryId: category.id })">
            {{category.title}}
        </div>

    </div>

    <div class="content-pane" data-ng-controller="ListController">

        <div class="content-item"
             data-ng-repeat="list in lists"
             data-ng-click="nextStep(2)"
             data-ui-sref="app.category.list({ listId: list.id })">
            {{list.title}}
        </div>

    </div>

    <div class="content-pane" data-ng-controller="ItemController">

        <div class="content-item"
             data-ng-repeat="item in items"
             data-ng-click="nextStep(3)"
             data-ui-sref="app.category.list.item({ itemId: item.id })">
            {{item.title}}
        </div>

    </div>

    <div class="content-pane">

        <h1>item details</h1>

    </div>

</div>