<div data-ng-class="stepClass"
     id="content-container"
     data-sync-height
     data-sync-pane-width
     data-ng-controller="ContentController">

    <div class="left content-pane">

        <div class="category-item-container">
            <div class="content-item add-new-item" data-ng-click="openNewCategoryPrompt()">
                <div class="title-container">
                    Add new category
                </div>
            </div>
        </div>

        <div class="category-item-container"
             data-ng-repeat="category in categories"
             data-handle-category>
        </div>

        <div class="category-item-container" data-ng-show="(newCategory != false)">
            <div class="content-item">
                <div class="title-container">
                    <input type="text" placeholder="New category name" data-ng-model="newCategoryTitle">
                </div>

                <div class="confirmation-button-container">
                    <div class="confirm-yes-icon button" data-ng-click="addNewCategory()">
                        &nbsp;
                    </div>
                    <div class="confirm-no-icon button" data-ng-click="cancelNewCategory()">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="blanking-content-item display-only-mobile">
            &nbsp;
        </div>

    </div>

    <div class="right content-pane">

        <div class="category-item-container">
            <div class="content-item add-new-item" data-ng-click="openNewListPrompt()">
                <div class="title-container">
                    Add new list
                </div>
            </div>
        </div>

        <div class="list-item-container"
             data-ng-repeat="list in categories[selectedCategoryIndex].lists"
             data-handle-list>
        </div>

        <div class="category-item-container" data-ng-show="(newList != false)">
            <div class="content-item">
                <div class="title-container">
                    <input type="text" placeholder="New list name" data-ng-model="newListTitle">
                </div>


                <div class="confirmation-button-container">
                    <div class="confirm-yes-icon button" data-ng-click="addNewList()">
                        &nbsp;
                    </div>
                    <div class="confirm-no-icon button" data-ng-click="cancelNewList()">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="blanking-content-item display-only-mobile">
            &nbsp;
        </div>

    </div>

</div>

<div class="mobile-nav-container display-only-mobile"
     data-handle-mobile-nav data-ng-show="mobileNavShow">
</div>
